@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-tab-wrapper [data-slot="tabList"] {
  flex-direction: column !important; /* Allow tabs to wrap */
  overflow-x: visible !important; /* Remove horizontal scrolling */
}

@media screen and (min-width: 640px)
{
  .custom-tab-wrapper [data-slot="tabList"] {
    flex-direction: row !important; /* Allow tabs to wrap */
  }
}


